body {
    margin: 0;
}
.header {
    overflow: hidden;
    margin: 0;
    background-image: url(http://40.media.tumblr.com/2c15538c2b4e2bc5ec0ae873dd018b04/tumblr_o0zkn9G2x71sqtu3so1_1280.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height:600px;
}

h1 {
    font-family: 'Montserrat', sans-serif !important;
    font-size: 60px !important;
    text-align: center;
    text-transform: uppercase;
    padding-top: 220px;
    letter-spacing: 9px;
}

h2 {
    font-family: "Lato", sans-serif !important;
    text-align: center;
    text-transform: uppercase;
}

.img-responsive {
    display: inline-block;
    vertical-align: middle;
    max-height: 100%;
    max-width: 100%;
    margin: 10px;
}

.img-responsive:hover {
    opacity: 0.3;
}

#custom-bootstrap-menu.navbar-default .navbar-brand {
    color: rgba(119, 119, 119, 1);
}
#custom-bootstrap-menu.navbar-default {
    font-size: 14px;
    background-color: rgba(248, 248, 248, 1);
    background: -webkit-linear-gradient(top, rgba(242, 237, 237, 1) 0%, rgba(248, 248, 248, 1) 100%);
    background: linear-gradient(to bottom, rgba(242, 237, 237, 1) 0%, rgba(248, 248, 248, 1) 100%);

}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
    color: rgba(119, 119, 119, 1);
    background-color: rgba(248, 248, 248, 0);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
    color: rgba(51, 51, 51, 1);
    background-color: rgba(235, 230, 230, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(85, 85, 85, 1);
    background-color: rgba(240, 231, 237, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: #f0e7ed;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #f0e7ed;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #f0e7ed;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #f8f8f8;
}

.about {
    width:100%;
    background-color: #656565; 
    color: #fff;
    text-align: center;
    display: block;
}

h3 {
    padding:40px;
    font-family: "Roboto", sans-serif !important;
    font-size: 1.9em !important;
    text-decoration: none;
    font-weight: 200 !important;
}

.jumbotron{
    height: 500px;
    background-image:url("http://images.inc.com/uploaded_files/image/1940x900/getty_160910502_970647970450080_57689.jpg");
    background-size: cover;
}

.projects h2 {
    margin:50px;
}

.footer {
    background-color: #2F2F2F;
    text-align: center;
    text-decoration: none;
    color: #fff;
    height:100px;
    padding-top:40px;
}
a:link {
    text-decoration: none;
    color: #fff;
}
a:hover {
    text-decoration: none;
    color: #DBDBDB;
}
a:visited {
    text-decoration: none;
    color: #C1C1C1;
}

form {
    margin-top: 40px;
    width: 400px;
    padding: 1em;
}

.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
 
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}
 
.btn-primary {
    background: #0099cc;
    color: #ffffff;
}
 
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #33a6cc;
}
 
.btn-primary:active, .btn-primary.active {
    background: #007299;
    box-shadow: none;
}

#contact > p {
    text-align:center;
    font-family: "Roboto", sans-serif;
    font-size: 1.5em;
}

#contact1 {
    text-align:center;
}
.footer {
    width:100%;
    bottom: 0;
}

.wrap {
    position:relative;
	margin:0 auto;
	width:1200px;
}

.img-title {
   position: absolute; 
   top: 200px; 
   left: 0; 
   width: 100%; 
}
